<div class="container">
  <div class="card-row">
    <div class="card-header">
      <h1>{{title}}</h1>
    </div>
    <div class="card-body">
      <app-task-form [taskList]="taskList"></app-task-form>      
    </div>
    <div class="card-body">
      <app-task-list [tasks]="taskList">
        <h3 *ngIf="taskList.length">Today's TaskList ({{taskList.length}})</h3>
        <h3 *ngIf="!taskList.length" >Oops! No Task Created Yet 0_0 Hurry Up, Create Your Today's TaskList :)</h3>
        </app-task-list>
        <div class="footer" >
          "Remember the to-do List but don't forget the to-be List"
        </div>
    </div>
  </div>
</div>